papers/publications.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="papers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paper" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="title" type="xs:string" />
                            <xs:element name="authors" type="xs:string" />
                            <xs:element name="file_name" type="xs:string" />
                            <xs:element name="published" type="xs:string" />
                            <xs:element name="year" type="xs:string" />
                            <xs:element name="topic" type="xs:string" />
                            <xs:element name="extra" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="a">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="href" use="required" />
                                                        <xs:attribute name="target" use="required" />
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="comments" minOccurs="0" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>